.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mapContainer {
  width: 90vw;
  height: 30vh;
  border: 2px solid var(--blue);
  border-radius: 10px;
  margin-bottom: 1em;
}

