.rcard {
  border-radius: 10px;
  border: 2px solid var(--blue);
  min-width: 90px;
  height: 110px;
  margin-right: 10px;
  background-color: var(--orange);
  text-align: center;
  display: flex;
  place-content: center;
}

.cardheader {
  margin: 5px 0;
  font-size: 14px;
  max-width: 85px;
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rimg {
  width: 60px;
  align-self: center;
}
