.logout {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
}

.pn {
  display: flex;
  justify-content: flex-end;
}

.totavi {
  max-width: 45%;
  max-height: 30%;
}


.phead {
  margin: 0;
}

.stats {
  display: flex;
  width: 70%;
  flex-wrap: wrap;

}

.stat {
  width: 50%;
  text-align: center;
}

.statLink {
  text-decoration: none;
  color: black;
}