.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.label,
.button {
  margin-right: 0.5rem;
}
.card {
  border: 2px solid var(--blue);
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  min-height: 40vh;
  padding: 2em;
  box-shadow: 0 6px 8px -4px black;
  border-radius: 0 0 10px 10px;
}

.inputContainer {
  margin-bottom: 1rem;
}

@media screen and (min-width: 300px) {
  .card {
    width: 220px;
  };
}
