.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
  height: 14vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tagContainer::-webkit-scrollbar {
  display: none;
}

.inputSearch {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 30vw;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.inputSearch:focus {
  width: calc(100% - 3rem);
}

.inputSearch:valid {
  width: calc(100% - 3rem);
}

.catContainer {
  display: flex;
  justify-content: center;
}

select {
  margin-left: 5px;
  padding: 0 2px 0 8px;
  border-radius: 10px;
  border: 1px solid var(--blue);
  background-color: var(--tan);
}
