@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --tan: #fafafa;
  --blue: #0d3b66;
  --yellow: #f4d35e;
  --orange: #ee964b;
  --dark-orange: #f95738;
}

body {
  margin: 0;
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan);
}

main {
  /* min-height: 90%; */
  margin-bottom: 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

button,
input {
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 700;
}

h1 {
  margin: 20px 0 20px 0;
  text-align: center;
}
button.inactive {
  background-color: var(--blue);
  color: var(--tan);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

button.active:hover {
  background-color: var(--tan);
  color: var(--black);
}

button.inactive:hover {
  cursor: pointer;
  background-color: #414f5b;
  /* color: var(--blue); */
}

button.active {
  border: 2px solid var(--blue);
  border-bottom: 3px solid var(--tan);
}

button {
  min-width: fit-content;
}

label {
  cursor: pointer;
  width: fit-content;
}

input {
  border: none;
  padding-left: 0;
  margin-bottom: 1em;
  display: block;
  font-size: 14px;
  background-color: var(--tan);
  border-bottom: 1px solid var(--blue);
  width: 80%;
  transition: all 0.3s ease-out;
  height: 1em;
  padding: 10px;
}

input:focus {
  outline: 0;
  width: 100%;
  height: 1.5em;
}

input:valid {
  width: 100%
}

button {
  background-color: var(--tan);
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  transition: all 0.1s linear;
}

button:hover {
  background-color: var(--blue);
  color: var(--tan);
}

.img-holder {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

h3 {
  margin-left: 16px;
  width: 80%;
  text-align: left;
}

.form-container {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}
