.bar {
  display: flex;
  justify-content: space-around;
  background-color: #faf0ca; 
  height: 10vh;
}

.bar div {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-around;
  align-items: center;
}

.icon {
  justify-content: space-around;
}

.bar img {
  height: 1.5em;
  fill: #0d3b66;
  color: #0d3b66;
}
