.bar {
  display: flex;
  justify-content: space-around;
  background-color: var(--orange); 
  height: 10vh;
}

.bar div {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-around;
  align-items: center;
}

.icon {
  justify-content: space-around;
}

.bar img {
  height: 1.5em;
  fill: #0d3b66;
  color: #0d3b66;
}

a {
  justify-content: center;
  align-self: center;
  text-decoration: none;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color:var(--tan);
  border-radius: 10px;
  padding: 8px;
}